flask==3.0.3
langchain==0.2.14
langchain-community==0.2.12
langchain-text-splitters==0.2.2
faiss-cpu==1.8.0.post1
pypdf==4.3.1
tiktoken==0.7.0
sentence-transformers==3.0.1
torch==2.4.1
mlx-lm==0.20.6
transformers==4.44.2
sqlalchemy==2.0.35